# Ingorar de Visual Studio
.devcontainer
.vscode
.vscode-server

#Ignorar Archivos e git
.git
.gitconfig
.gitignore

#Ignorar Archivos de historial
.*_hist*

#Ignorar Archivos del sistema operativo
**/.DS_store

#Ignorar Archivos Docker
Dockerfile
*-compose.yml
.dockerignore

#Ignorar Archivos del dotenv
*.env

#Ignorar builds
build/

#Ignorar Gradle Cache
.gradle/

#Ignorar Gradle Cache
.github/


